<div class="my-5">
  <div class="flex justify-center items-center">
    <div class="md:w-1/4 min-[320px]:w-1/2">
    </div>
  </div>
  <div class="text-center md:text-lg min-[320px]:text-xs my-2 font-semibold">
  <p class="text-yellow-900">TOPページタイトル</p>
  <p class="text-yellow-900">仮作成中</p>
  </div>
</div>

<section class="container mx-auto px-6 py-10">
  <h2 class="text-3xl font-bold text-center text-yellow-900">機能紹介</h2>
  <h2 class="text-lg font-semibold text-center mb-5 text-yellow-900">機能紹介</h2>
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">

    <div class="bg-white rounded-xl shadow-md p-6 text-center text-yellow-900">
      <h3 class="text-2xl font-semibold mb-2">投稿</h3>
      <h3 class="text-sm mb-2">自分の相棒を紹介しよう！</h3>
      <p class="text-sm text-yellow-900">使用年数やお手入れの方法が一緒に登録できるよ！素敵な相棒のエイジングの過程をみんなと共有しよう✨</p>
      <div class="flex justify-center mt-6 mb-6">
        <%= link_to posts_path, class: "flex items-center text-center py-3 px-4 font-semibold text-sm text-yellow-900 rounded-3xl bg-[#E6CCB585] hover:bg-[#fdba74]" do %>
          <i class="fa-solid fa-user-plus fa-xl mr-2"></i> 新着投稿を見てみる👀
        <% end %>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center text-yellow-900">
      <h3 class="text-2xl font-semibold mb-2">検索</h3>
      <h3 class="text-sm mb-2">ブランドやカテゴリーで検索してみよう！</h3>
      <p class="text-sm text-yellow-900">新しいグッズを見つけられるかも🌟お手入れ方法やブランドをチェックして、次のお買い物のヒントにしてみて！</p>
    </div>

    <div class="bg-white rounded-xl shadow-md p-6 text-center text-yellow-900">
      <h3 class="text-2xl font-semibold mb-2">お気に入り</h3>
      <h3 class="text-sm mb-2">素敵な投稿を保存しよう！</h3>
      <p class="text-sm text-yellow-900">新規登録をしてログインすると、お気に入り保存できるよ✨</p>
    </div>
  </div>
</section>