<div class="my-5">
  <div class="flex justify-center items-center">
    <div class="md:w-1/4 min-[320px]:w-1/2">
    </div>
  </div>
  <div class="text-center md:text-lg min-[320px]:text-xs my-2 font-semibold">
  <p class="text-[#172c66]">TOPページタイトル</p>
  <p class="text-[#172c66]">仮作成中</p>
  </div>
</div>

<section class="container mx-auto px-6 py-10">
  <h2 class="text-3xl font-bold text-center text-[#001858]">機能紹介</h2>
  <h2 class="text-lg font-semibold text-center mb-5 text-[#001858]">機能紹介</h2>
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">

    <div class="bg-white rounded-lg shadow-lg p-6 text-center text-[#001858]">
      <h3 class="text-2xl font-semibold mb-2">投稿</h3>
      <h3 class="text-sm mb-2">自分の相棒を紹介しよう！</h3>
      <p class="text-sm text-[#172c66]">使用年数やお手入れの方法が一緒に登録できるよ！素敵な相棒のエイジングの過程をみんなと共有しよう✨</p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 text-center text-[#001858]">
      <h3 class="text-2xl font-semibold mb-2">検索</h3>
      <h3 class="text-sm mb-2">ブランドやカテゴリーで検索してみよう！</h3>
      <p class="text-sm text-[#172c66]">新しいグッズを見つけられるかも🌟お手入れ方法やブランドをチェックして、次のお買い物のヒントにしてみて！</p>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 text-center text-[#001858]">
      <h3 class="text-2xl font-semibold mb-2">お気に入り</h3>
      <h3 class="text-sm mb-2">素敵な投稿を保存しよう！</h3>
      <p class="text-sm text-[#172c66]">新規登録をしてログインすると、お気に入り保存できるよ✨</p>
    </div>
  </div>
</section>