<div class="card rounded-xl bg-base-100 shadow-md aspect-[1/1]">
  <div class="card-image" style="height: 84%;">
    <%= link_to image_tag(product.product_image.url, class: 'rounded-t-xl w-full h-full object-cover'), brand_admin_product_path(product) %>
  </div>
  <div class="flex items-center justify-between" style="height: 16%">
    <ul class="list-inline">
        <li class="text-xs ml-3"><%= product.product_name %></li>
    </ul>
    <i class="bi bi-pencil-fill text-base md:text-xl mr-4"></i>
  </div>
</div>