<% content_for(:title, t('.title')) %>
<div class="flex justify-center pt-20">
  <h1 class="text-lg font-semibold" >登録済商品一覧</h1>
</div>
<div class="flex flex-wrap m-4">
    <% if @products.present? %>
      <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
        <%= render @products %>
      </div>
    <% else %>
        <div class= 'text-base m-auto'>登録済商品はありません</div>
    <% end %>
</div>
<%= paginate @products %>

<div class="text-center my-6 text-sm">
  <%= link_to t('.to_product_new'), new_brand_admin_product_path %>
</div>
