<div class="container">
  <div class="w-full p-4 md:px-0 md:py-2 md:w-1/2 mx-auto">
    <ul class="list-none">
      <li class="text-yellow-900">ブランド：<%= @product.user.name %></li>
      <li class="text-yellow-900">商品名：<%= @product.product_name %></li>
    </ul>
  </div>
</div>

<div class="relative w-full md:w-1/2 mx-auto">
  <div class="overflow-hidden relative">
    <%= image_tag(@product.product_image.url, class: 'block w-full h-auto object-contain') %>
  </div>
</div>

<% if current_user && current_user.own?(@product) %>
  <div class="w-full mt-10 p-4 md:px-0 md:py-2 md:w-1/2 mx-auto flex justify-end">
    <%= link_to "編集", edit_brand_admin_product_path(@product), class: "btn w-1/3 bg-[#E6CCB585] hover:bg-[#fdba74] text-yellow-900", id: "button-edit-#{@product.id}" %>
  </div>
<% end %>