<% flash.each do |message_type, message| %>
  <div class="alert <%= message_type == 'success' ? 'bg-[#D8E6D4] text-lime-800' : message_type == 'danger' ? 'bg-red-100 text-red-800' : 'bg-neutral-100 text-gray-400' %>">
    <%= message %>
  </div>
<% end %>