<footer class="footer footer-center p-10 base-100 text-base-300 rounded mt-auto gap-y-1 bg-[#fffffe]">
  <div>
    <nav class="grid grid-flow-col gap-4">
      <%= link_to "お問い合わせ", "#", target: "_blank" %>
      <%= link_to "プライバシーポリシー", "#" %>
      <%= link_to "利用規約", "#" %>
    </nav>
    <aside>
      <p>Copyright © 2024 - Leather palette</p>
    </aside>
  </div>
</footer>