<div class="text-[0.6rem] md:text-xs">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "利用規約", terms_of_use_path, class:"link link-hover" %>|
    <%= link_to "プライバシーポリシー", privacy_policy_path, class:"link link-hover" %>|
    <%= link_to "お問い合わせ", "https://forms.gle/Eq87Xet4C126UDTn6", class:"link link-hover", target: "_blank" %>
  </nav>
  <aside class="mt-2">
    <p>Copyright © 2025 - LeatherPalette</p>
  </aside>
</div>