<footer class="footer footer-center p-10 base-100 text-neutral-300 rounded gap-y-1 bg-[#fffffe] mt-16 md:mt-4 sm:mt-0">
  <div <div class="lg:ml-64 md:ml-20 min-[320px]:mb-10 md:mb-0">
    <nav class="grid grid-flow-col gap-4">
      <%= link_to "お問い合わせ", "#", target: "_blank" %>
      <%= link_to "プライバシーポリシー", "#" %>
      <%= link_to "利用規約", "#" %>
    </nav>
    <aside>
      <p>Copyright © 2024 - LeatherPalette</p>
    </aside>
  </div>
</footer>