<% content_for(:title, t('.title')) %>
<div class="flex justify-center mt-5">
  <h1 class="text-2xl font-semibold text-yellow-900" >お気に入り一覧</h1>
</div>
<div class="flex flex-wrap m-4">
    <% if @favorite_posts.present? %>
      <div class="grid min-[320px]:grid-cols-2 min-[320px]:m-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center md:m-10">
        <%= render @favorite_posts %>
      </div>
    <% else %>
        <div class= 'text-lg m-auto'>お気に入りの投稿はありません</div>
    <% end %>
</div>
<div class="flex justify-center mt-5 pagination">
  <%= paginate @favorite_posts, theme: 'bootstrap-5' %>
</div>