@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .font-noto {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* <weight>: Use a value from 200 to 900 */
    font-style: normal;
  }
  .font-shippori-mincho {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
  }
}