@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .font-noto {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* <weight>: Use a value from 200 to 900 */
    font-style: normal;
  }
}